<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>Form Test Index</title>
    </head>
    <body>
        <h1>Index Page</h1>
        <h3>Create a User</h3>
        <!-- read on to learn about form actions -->
        <form action="/users" method="post">
            Name: <input type="text" name="name" />
            Email: <input type="text" name="email" />
            <input type="submit"name="submit"value="Testing"/>
        </form>
        
    </body>

</html>
